<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        body{
            padding-top: 3rem;
        }
        .starter-template{
            padding: 3rem 1.5rem;
            text-align: center;
        }

    </style>
</head>

<body>
<nav th:replace="fragments/common :: menu('home')"></nav>
<br>
<br>
<br><br><br><br>
<div class="container">
    <h3>ABOUT US</h3>
    <div style="text-align: center">

        <br/>
        <br/>
        <br/>
        <h4>PARK NAGYUM</h4>
        <img src="https://i.pinimg.com/236x/0d/ee/ef/0deeef065669f7b7c16f9e131b7464ee.jpg"/><br/>
        <a href="https://github.com/ire4564"><img src="https://joshuapenalba.files.wordpress.com/2014/12/contacts_email.png?w=38&zoom=2" width="70px" height="70px"></a>
        <a href="https://www.facebook.com/profile.php?id=100005103496461"><img src="https://joshuapenalba.files.wordpress.com/2014/12/contacts_mail.png?w=38&zoom=2" width="73px" height="73px"></a>
        <h4 style="color: gray">Click this icons<br>then, you can go to My SNS Page</h4>
        <h5>welcome to my information homepage! actually, this is my frist info page<br>but not difficult to make this page. you know, I'm not good at English well!
            <br>Actually, this talks about Me, but I don't have many too much information.<br> hum well, yes.frist my favorite food is cheese and Korean Barbecue.</h5>
        <h6 style="color: gray">@ire4564_info COMPANY</h6>
        <br/>
        <br/>
        <br/>
        <br/>
        <h4>LIM HYEEUN</h4>
        <img src="https://i.pinimg.com/236x/0d/ee/ef/0deeef065669f7b7c16f9e131b7464ee.jpg"/><br/>
        <a href="https://github.com/ire4564"><img src="https://joshuapenalba.files.wordpress.com/2014/12/contacts_email.png?w=38&zoom=2" width="70px" height="70px"></a>
        <a href="https://www.facebook.com/profile.php?id=100005103496461"><img src="https://joshuapenalba.files.wordpress.com/2014/12/contacts_mail.png?w=38&zoom=2" width="73px" height="73px"></a>
        <h4 style="color: gray">Click this icons<br>then, you can go to My SNS Page</h4>
        <h5>welcome to my information homepage! actually, this is my frist info page<br>but not difficult to make this page. you know, I'm not good at English well!
            <br>Actually, this talks about Me, but I don't have many too much information.<br> hum well, yes.frist my favorite food is cheese and Korean Barbecue.</h5>
        <h6 style="color: gray">@ire4564_info COMPANY</h6>
        <br/>
        <br/>
        <br/>
        <br/>
        <h4>JEONG JIWOO</h4>
        <img src="https://i.pinimg.com/236x/0d/ee/ef/0deeef065669f7b7c16f9e131b7464ee.jpg"/><br/>
        <a href="https://github.com/ire4564"><img src="https://joshuapenalba.files.wordpress.com/2014/12/contacts_email.png?w=38&zoom=2" width="70px" height="70px"></a>
        <a href="https://www.facebook.com/profile.php?id=100005103496461"><img src="https://joshuapenalba.files.wordpress.com/2014/12/contacts_mail.png?w=38&zoom=2" width="73px" height="73px"></a>
        <h4 style="color: gray">Click this icons<br>then, you can go to My SNS Page</h4>
        <h5>welcome to my information homepage! actually, this is my frist info page<br>but not difficult to make this page. you know, I'm not good at English well!
            <br>Actually, this talks about Me, but I don't have many too much information.<br> hum well, yes.frist my favorite food is cheese and Korean Barbecue.</h5>
        <h6 style="color: gray">@ire4564_info COMPANY</h6>
    </div>
    <br/>
    <br/>
    <br/>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymousdf"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>