<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title th:text="${title}">Hello, Spring Boot!</title>
  <style>
    body{
      padding-top: 7rem;
    }

    .dd {

margin-top: 20px;
    }

    .ddc {
      display: none;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
    }

    .dd:hover .ddc {
      display: block;
    }
  </style>

</head>
<body>

<nav class="wrapper" th:fragment="menu(menu)">
  <div>
    <h1>HALI SEOUL</h1>
    <ul class="menu">
      <li th:classappend="${menu} == 'home'? 'active'">
        <a  href="#" th:href="@{/}" >HOME</a></li>

      <li class="dd">
        <span>매물</span>
        <div class="ddc">
          <p ><a href="#" th:href="@{/board/oneroom}">원룸</a></p>
          <p ><a href="#" th:href="@{/board/tworoom}">투룸</a></p>
          <p ><a href="#" th:href="@{/board/office}">오피스텔</a></p>
          <p ><a href="#" th:href="@{/board/lodging}">하숙</a></p>
          <p ><a href="#" th:href="@{/board/ma}">기숙사</a></p>
          <p ><a href="#" th:href="@{/board/information}">정부지원 거주정보</a></p>
        </div>
      </li>

      <li class="nav-item" th:classappend="${menu} == 'board'? 'active'">
        <a href="#" th:href="@{/board/list}">커뮤니티 <span th:if="${menu} == 'board'"></span></a></li>

      <li><a href="#" th:href="@{/board/contact}">CONTACT</a></li>

      <li><a th:href="@{/account/login}" sec:authorize="!isAuthenticated()">LOGIN</a></li>
      <li><a th:href="@{/account/register}" sec:authorize="!isAuthenticated()">회원가입</a></li>
      <li>
        <form th:action="@{/logout}" id="frm" method="POST" sec:authorize="isAuthenticated()">
          <button class="btn" style="margin-top: 30px" type="submit">LOGOUT</button>
        </form>
      </li>
    </ul>
  </div>

</nav>
</body>

</html>