<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head >
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/css/signin.css}" rel="stylesheet">

    <title>LOGIN</title>
    <style>
        .id_ok{color: blue;; display: none;}
        .id_already{color:red; display: none;}
        .password_ok{color: blue;; display: none;}
        .password_diff{color:red; display: none;}


    </style>
</head>

<body class="text-center">
    <form  form class="form-signin" id="signFrm" role="form" action="/account/register" name="signFrm" method="post" >
        <h1 class="h2 mb-3 fw-normal">HALI SEOUL</h1>
        <h2 class="h4 mb-3 fw-normal">회원가입</h2>


        <label for="username" class="sr-only"></label>
        <div class="mb-3 abc float-left">
            <label for="username" class="sr-only"></label>
            <input type="text" id="username" name="username" class="form-control" placeholder="아이디" required >
            <input class="btn btn-outline-dark btn-sm idCheck mx-1 mt-2" type="button" id="check" value="중복 체크"/>
            <span class="id_ok mt-1">사용 가능한 아이디입니다.</span>
            <span class="id_already">아이디를 사용하고 있어요.</span>
        </div>

        <input type="email" id="email" name="email" class="form-control" placeholder="이메일">

        <br>
        <input type="password" name="password" id="pw" placeholder="비밀번호" class="form-control" >
        <p id="pw2ch" class="check"> </p>
        <input type="password"  id="pw2" placeholder="비밀번호 확인" class="form-control" >
        <p id="pwch" class="check"> </p>




        <input type="text" id="birthday" name="birthday" class="form-control" placeholder="생년월일">
        <p id="birth_check" class="check"> </p>


        <input type="text" id="phone" name="phone" class="form-control" maxlength="13" placeholder="전화번호" >
        <p id="phonech" class="check"> </p><br/>

        <input type="button" class="btn btn-lg btn btn-dark btn-block" id="signUp" value="회원가입"/>

        <p class="mt-5 mb-3 text-muted">&copy; 2021-2022</p>
    </form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            var idx = false;
            var pwx= false;
            var birthx = false;
            var phonex= false;


            $('#signUp').click(function(){
                    $('#signFrm').submit();
            });



            $("#pw2").blur(function(){
                if($("#pw2").val()!=$("#pw").val()){
                    $("#pwch").html("비밀번호가 다릅니다");
                    $("#pwch").css("color",'red');
                    pwx = false;
                }else{
                    $("#pwch").html("비밀번호가 일치합니다");
                    $("#pwch").css("color",'blue');
                    pwx = true;
                }
            });

            $("#pw").blur(function(){

                if($("#pw").val()!=$("#pw2").val()){
                    $("#pwch").html("비밀번호가 다릅니다");
                    $("#pwch").css("color",'red');
                    pwx = false;

                }else{
                    $("#pwch").html("비밀번호가 일치합니다");
                    $("#pwch").css("color",'blue');
                    pwx = true;
                }
            });

            $('#birthday').blur(function(){
                var dateStr = $(this).val();
                var year = Number(dateStr.substr(0,4)); // 입력한 값의 0~4자리까지 (연)
                var month = Number(dateStr.substr(4,2)); // 입력한 값의 4번째 자리부터 2자리 숫자 (월)
                var day = Number(dateStr.substr(6,2)); // 입력한 값 6번째 자리부터 2자리 숫자 (일)
                var today = new Date(); // 날짜 변수 선언
                var yearNow = today.getFullYear(); // 올해 연도 가져옴

                if (dateStr.length ==8) {
                    // 연도의 경우 1900 보다 작거나 yearNow 보다 크다면 false를 반환합니다.
                    if (1900 > year || year > yearNow){

                        $('#birth_check').text('생년월일을1 확인해주세요.');
                        $('#birth_check').css('color', 'red');

                    }else if (month<1 || month>12) {

                        $('#birth_check').text('생년월일을2 확인해주세요.');
                        $('#birth_check').css('color', 'red');

                    }else if (day<1 || day>31) {

                        $('#birth_check').text('생년월일을3 확인해주세요.');
                        $('#birth_check').css('color', 'red');

                    }else if ((month==4 || month==6 || month==9 || month==11) && day==31) {

                        $('#birth_check').text('생년월일을 확인해주세요.');
                        $('#birth_check').css('color', 'red');

                    }else if (month == 2) {

                        var isleap = (year % 4 == 0 && (year % 100 != 0 || year % 400 == 0));

                        if (day>29 || (day==29 && !isleap)) {

                            $('#birth_check').text('생년월일을 확인해주세요.');
                            $('#birth_check').css('color', 'red');

                        }else{
                            $('#birth_check').text('');
                            birthx = true;
                        }

                    }else{

                        $('#birth_check').text('');
                        birthx = true;
                    }

                }else{
                    //1.입력된 생년월일이 8자 초과할때 :  auth:false
                    $('#birth_check').text('생년월일을 확인해주세요.');
                    $('#birth_check').css('color', 'red');
                }
            });

            $("#phone").on('keydown', function(e){
                // 숫자만 입력받기
                var trans_num = $(this).val().replace(/-/gi,'');
                var k = e.keyCode;

                if(trans_num.length >= 11 && ((k >= 48 && k <=126) || (k >= 12592 && k <= 12687 || k==32 || k==229 || (k>=45032 && k<=55203)) ))
                {
                    e.preventDefault();
                }
            }).on('blur', function(){ // 포커스를 잃었을때 실행합니다.
                if($(this).val() == '') return;

                // 기존 번호에서 - 를 삭제합니다.
                var trans_num = $(this).val().replace(/-/gi,'');

                // 입력값이 있을때만 실행합니다.
                if(trans_num != null && trans_num != '')
                {
                    // 총 핸드폰 자리수는 11글자이거나, 10자여야 합니다.
                    if(trans_num.length==11 || trans_num.length==10)
                    {
                        // 유효성 체크
                        var regExp_ctn = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})([0-9]{3,4})([0-9]{4})$/;
                        if(regExp_ctn.test(trans_num))
                        {
                            // 유효성 체크에 성공하면 하이픈을 넣고 값을 바꿔줍니다.
                            trans_num = trans_num.replace(/^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})-?([0-9]{3,4})-?([0-9]{4})$/, "$1-$2-$3");
                            $('#phonech').text('');
                            $(this).val(trans_num);
                        }
                        else
                        {
                            $('#phonech').text('유효하지 않는 전화번호입니다.');
                            $('#phonech').css('color', 'red');
                            $(this).val("");
                            $(this).focus();
                        }
                    }
                    else
                    {
                        $('#phonech').text('유효하지 않는 전화번호입니다.');
                        $('#phonech').css('color', 'red');
                        $(this).val("");
                        $(this).focus();
                    }
                }
            });


            $('#check').click(function(){

                var userName =  $('#username').val();
                var param = {username: userName};
                console.log("before ajax");
                $.ajax({
                    type : 'POST',
                    url: "/account/register2",
                    data: param,
                    success: function (result) {
                        console.log(result[0]);
                        if (result["1"]=="false") {
                            idx=false
                            $('.id_already').css("display","inline-block");
                            $('.id_ok').css("display", "none");
                            $("#username").focus();

                        } else {

                            idx=true;
                            $('.id_ok').css("display","inline-block");
                            $('.id_already').css("display", "none");



                        }
                    },
                    error: function (request, status,error) {
                        console.log(request);
                        console.log(status);
                        console.log(error);

                    }
                });

            });



        });

    </script>
</body>

</html>